  body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:linear-gradient(to top, rgba(0,0,0,0.5)50% ,rgba(0,0,0,0.5)50%),url(background5.jpeg);
  display:block;
}
    /* Sidebar */
    aside.sidebar {
      width: 240px;
      background-color:burlywood;
      color: #d4e4d4;
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* push logout down */
      position: fixed;
      padding: 1.5rem 1rem;
      box-shadow: 2px  rgba(0,0,0,0.1);
      min-height: 100vh;
    }

    aside.sidebar h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-weight: 700;
      color: #ff7200;
      user-select: none;
    }

    nav.sidebar-nav ul,
    nav.sidebar-logout ul {
      list-style: none;
    }

    nav.sidebar-nav ul {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    nav.sidebar-nav ul li a,
    nav.sidebar-logout ul li a {
      text-decoration: none;
      color: #d4e4d4;
      font-weight: 600px;
      font-size: 1.1rem;
      padding: 0.5rem 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    nav.sidebar-nav ul li a:hover,
    nav.sidebar-nav ul li a.active,
    nav.sidebar-logout ul li a:hover {
      background-color:#fff;
      color:#000;
    }
.main-content {
  margin-left: 240px;
  padding: 30px;
  flex-grow: 1;
  text-align: center;

}

.main-content h1 {
  color:#ff7200;
  margin-bottom: 20px;
}

form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: burlywood;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  margin: 0 auto;

}

label {
  margin-bottom: 12px;
  font-weight: 500;
  color: #333;
}
input, select {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  background-color: #5c3d1c;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #7a5230;
}

footer {
        position:fixed;
        left: 0;
        width: 100%;
        bottom:0;
        background:burlywood;
        color: #333;
        text-align: center;
        padding: 10px 0;
        z-index: 100;
        font-weight: 500;
        box-shadow: 0 -2px 8px rgba(0,0,0,0.5);
        
      }